__pycache__/db_controller.cpython-314.pyc
projects.db
__pycache__/pm_controller.cpython-314.pyc
__pycache__/db_controller.cpython-314.pyc
__pycache__/db_models.cpython-314.pyc
__pycache__/pm_controller.cpython-314.pyc
gui/__pycache__/main_window.cpython-314.pyc
gui/__pycache__/new_project_dialog.cpython-314.pyc
